:root {
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-text-color: #757575;
}

/*----------снимаю маржинги----------*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--main-text-color);
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
}
.container {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* -------------------------HEADER-------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-list,
.info {
  display: flex;
  /* align-items: center; */
}

.logo1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
  outline: 1px solid red;
}
.info-nav:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.info-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.info-nav:hover,
.info-nav:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
/* -------------------------HERO----------------------- */
.hero {
  text-align: center;
  background-color: #2f303a;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  outline: 1px solid white;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
}
.button-primary {
  margin: 0 auto;
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: flex;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* ------------------------MAIN--article--------------------- */
.article,
.gallery {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #e5e5e5;
}
.article-list {
  display: flex;
}

.article-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.article-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ------------------------MAIN---------------------- */
.gallery-text {
  margin-top: 0spx;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  outline: 1px solid red;
}
.gallery-list {
  display: flex;
  justify-content: center;
}
.outteam {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.outteam-text1 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.outteam-list {
  display: flex;
  justify-content: center;
}
.outteam-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.outteam-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.outteam-img {
  margin-top: 0px;
  margin-bottom: 30px;
}
.gallery-item:not(:last-child),
.outteam-item:not(:last-child) {
  margin-right: 30px;
}
/* ------------------------FOOTER------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.logo2-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-info-nav:hover,
.footer-info-nav:focus,
.footer-info-adres:hover,
.footer-info-adres:focus {
  color: var(--accent-color);
}
.footer-info-adres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo12 {
  margin-bottom: 20px;
}
.footer-info-adres {
  margin-bottom: 9px;
}
.footer-info-nav {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* --------------------портфолио------------------------- */
main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-navigation {
  display: flex;
  justify-content: center;
}

.btn-navigation-link {
  margin-right: 8px;
  margin-bottom: 50px;
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  cursor: pointer;
}
.btn-navigation-link:hover,
.btn-navigation-link:focus {
  background-color: var(--accent-color);
  font-family: inherit;
}
.project {
  width: 379;
  height: 404;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-evenly;
  align-content: space-around; */
}

.project-item {
  margin-bottom: 30px;
}
.project-text {
  margin-top: 20px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.project-top:not(:last-child) {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: #757575;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
